<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sklat.uz | Do'kon Boshqaruv Tizimi</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{% static 'img/sklatlogo.png' %}">

  <!-- Home Screen Icon (MUHIM) -->
  <link rel="apple-touch-icon" sizes="512x512" href="{% static 'img/sklatlogo.png' %}">

  <!-- Manifest (MUHIM) -->
  <link rel="manifest" href="{% static 'manifest.json' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<style>

  
</style>
<body>

{% include 'home.html' %}

    <!-- <img class="img" src="{% static 'img/image.jpg' %}" alt=""> -->
</body>
</html>